.title.info{
    color: #17a2b8;
}

.title.warning{
    color: #ffc107;
}

.title.success{
    color: #28a745;
}

.title.error{
    color: #dc3545;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}
.btn-info:hover {
    background-color: #138496;
}
  
  .btn-warning {
    background-color: #ffc107;
    color: black;
  }
  .btn-warning:hover {
    background-color: #e0a800;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  .btn-success:hover {
    background-color: #218838;
  }

  .btn-error {
    background-color: #dc3545;
    color: white;
  }
  .btn-error:hover {
    background-color: #c82333; 
  }

.alert-actions.warning .disagree-btn:hover {
    background-color: #fef9c3;
}
.alert-actions.info .disagree-btn:hover {
    background-color: #dbeafe;
}
.alert-actions.error .disagree-btn:hover {
    background-color: #fee2e2;
}

.alert-actions.success .disagree-btn:hover{
    background-color: #d1fae5;
}